<app-add-todo-form (newTodoEvent) = "addTodo($event)"></app-add-todo-form>
<ul *ngFor = "let todo of todos let i = index;" class="list-group">
    <li class="list-group-item d-flex justify-content-beetwen align-item-start">
        <div class="ms-3 me-auto" *ngIf = "todo.edit == false">
            <div class="content {{(todo.completed ? 'done' : '')}}">
                {{ i + 1}}. {{todo.content}}
            </div>
        </div>
        <div class="ms-3 me-auto" *ngIf = "todo.edit == true">
            <div class="content {{(todo.completed ? 'done' : '')}}">
                <app-update-todo-form  [name] = "(todo.content)" (newTodoEvent) = "updateTodo($event,i)"></app-update-todo-form>
                </div>
            </div>
            <div *ngIf = "todo.edit == false" >
            <button class="btn btn-warning btn-sm completed" (click)="buttonTodo(i)"><i>Update</i></button>
            &nbsp;
            <button class="btn btn-warning btn-sm completed" (click)="toogleDone(i)"><i class="bi bi-check-circle"></i></button>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="deleteTodo(i)"><i class="bi bi-trash-fill"></i></button>
        </div>
        </li>
  </ul>
  