<form (ngSubmit)="addTodo(todoForm)" #todoForm = "ngForm">
    <div class="input-group mb-3">
        <input 
        type="text"
        name="inputTodo"
        placeholder="ENTER todo "
        class = "form-control"
        required  minlength="4" ngModel #inputTodo="ngModel" />
        <button  [disabled] = "inputTodo.invalid" type="submit" value="Add Todo" class="btn btn-primary">Submit</button>

    </div>
    <div *ngIf="!inputTodo?.valid" style="color:red;">
        <div *ngIf="inputTodo.errors?.required">
           Todo is required 
        </div>
        <div *ngIf="inputTodo.errors?.minlength">
          Todo Minimum Length is {{inputTodo.errors?.minlength.requiredLength}}
        </div>
      </div>
</form>